body{
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
}  

.selectOne{
    width: 500px;
    height: 25px;
}

tr{
    height: 50px;
}

.tables{
    margin-left: 40px;
}

.resetBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
    width: 30px;
    height: 30px;
}
